.pieGraph {
  border-radius: 8px;
  display: flex;
  border: 1px solid #ddd;
  padding: 32px;
}

.factsInfo {
  color: #000;
  margin-top: 8px;
}

.factsInfo p {
  margin: 8px 8px 8px 0;
}

h4 {
  text-align: center;
  margin: 0;
}

canvas h1 {
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .pieGraph {
    display: block;
  }
}
