ol {
  border: 1px solid rgba(223, 225, 229, 0);
  padding: 0;
}

ol li {
  list-style: none;
  padding: 12px 12px 12px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

ol li:last-child {
  border-bottom: none;
}

.topTenFoods {
  flex: 1;
  border: 1px solid #ddd;
  padding: 16px;
  margin-right: 24px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .topTenFoods {
    margin-right: 0px;
  }
}
