.mainContent{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.graphContainer{
    flex-basis: 30%;
    max-width: 300px;
    max-height: 300px;
}

.foodSearchDiv{
    flex-basis: 30%;
}

.topTenFoods{
    flex-basis: 30%;
}