.my-menu {
  background-color: lightslategray;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-menu a {
  padding: 8px;
  margin: 0 16px;
  color: #fff;
  font-size: 12px;
}
