.foodSearchDiv {
  text-align: center;
  height: 70%;
  min-width: 280px;
  max-width: 300px;
  }
  
  .foodList{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.14);
  }
  
  .foodList li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex-basis: 100%;
    margin-top: 3px;
    background-color: #1ca700;
  }

  .foodList li:hover{
    background-color: #188a01;
  }

  form{
    height: 35px;
    display: flex;
  }

  .searchBarDiv{
    position: relative;
  }

  #foodSearchBtn{
    position: absolute;
    left: 90%;
    top: 0%;
    z-index: 2;
    height: 100%;
    width: 20px;
    cursor: pointer;
  }

  #foodSearchInput{
    background-color: #d6defb !important;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 100% !important;
    font-size: 25px;
    text-align: center;
  }
  
  /* .foodList li button{
    margin-left: auto;
  } */

  @media only screen and (max-width: 600px) {
    .foodSearchDiv {
      margin-top: 15px;
    }
  }